@import "compass/utilities/tables";
// alternating-rows-and-columns($even-row-color, $odd-row-color, $dark-intersection, $header-color, $footer-color)
@mixin table_link {
  a {
    position: relative;
    float: left;
    height: 100%;
    width: 100%;
    &:hover {
      background: #666 ;
    }
    &:active {
      background: #666 ;
      color: #dcdcdc;
    }
  }
}
@mixin table {
  $table-color: #dcdcdc;
  @include table-scaffolding;
  @include inner-table-borders(1px, darken($table-color, 40%));
  @include outer-table-borders(1px);
  @include table_link;
  background: $table-color;
  width: 100%;
  th {
    background: #666;
  }
  tr:nth-child(odd) {
    background-color: #99ff99;
  }
  // @include alternating-rows-and-columns($table-color, $table-color, #222222); 
}

.players {
  @include table;
}
