:javascript
  $(function() {
    window.router = new Zeratul.Routers.PostsRouter({
      // things in here are for delivery to the page
      // posts: = @posts.to_json.html_safe 
    });
    Backbone.history.start();
  });
